@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato', 'Merriweather';
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.timeline::after {
  opacity: 0;
  animation: moveline linear forwards;
  animation-duration: 2s;
  animation-timeline: view();
  animation-range: 100px 1800px;
}

@keyframes moveline {
  0% {
    opacity: 1;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.itinaray-container {
  z-index: 10;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.itinaray-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,250,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}